@model  List<ASP_Decisions_v1.Models.Decision>


<h3> The latest decisions </h3>

<div class="col-sm-9">

    @foreach (var dec in Model)
    {        
        <a href=@Url.Action("Details", "Decision", new { id = dec.Id })>     
            <div class="row well well-sm">
                <div class="col-sm-2">
                    @dec.CaseNumber
                </div>
                <div class="col-sm-1">
                    @dec.Board
                </div>
                <div class="col-sm-7">
                    @dec.Title
                </div>
            </div>
        </a>
    }
</div>


<div class="col-sm-3">
    @*<div class="row">
        <form method="GET" action="Search/CaseSearch" class="pull-right">
            <input name="q" placeholder="Case number" class="searchfield" type="text" id="searchbox">
            <button type="submit" class="search btn btn-default">Search</button>
        </form>
    </div>*@
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="caseNumber">Case Number</label>
            <input type="text" class="form-control" id="caseNumber" name="caseNumber" placeholder="Case Number">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
